.card {
  width: 20vw;
  height: auto;
  border-radius: 5px;
  border: 2px solid red;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin: 10px;
}

.card-image {
  width: 200px;
  height: 400px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  /* font-size: 16px; */
  margin: 0;
  margin-bottom: 20px;
  color: #777;
}

.card-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.card-button:hover {
  background-color: #0056b3;
}

/* Additional Colors */

.card:nth-child(odd) {
  background-color: #f9f9f9;
}

.card:nth-child(even) {
  background-color: #f1f1f1;
}

.card-title:nth-child(odd) {
  color: #007bff;
}

.card-title:nth-child(even) {
  color: #ff4500;
}

.card-button:nth-child(odd) {
  background-color: #ff4500;
}

.card-button:nth-child(even) {
  background-color: #007bff;
}

.card-button:nth-child(odd):hover {
  background-color: #ff6347;
}

.card-button:nth-child(even):hover {
  background-color: #0056b3;
}
.container
{
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}