.navbarContainer{
    /* border:2px solid blue; */
    height: 80px;
}
.smallContainer{
    padding: 15px;
    /* border:2px solid rgb(85, 81, 84); */
    display: flex;
    /* border-radius: 10px; */
    flex-direction: row;
    justify-content: space-between;
    /* margin: 25px; */
    align-items: center;
    background-color: rgb(219, 215, 215);
}

.smallContainer h2 {
    margin-left: 80px;
}

.smallContainer button{
    margin-right: 30px;
    /* width: 40px; */
    /* height: 40px; */
    /* background-color: rgb(38, 39, 38); */
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.smallContainer button a img{
    width: 80px;
}